<div class = "track-container">
<div class="header-section">
   <h3 class="label-heading">Track Dispatch</h3> 
   <p style="margin: 0px;">Attached track dispatch document by the institute</p>
</div>
<div class="body-container">
    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
    <!-- <img style="width: 26rem;" [src]="pdfUrl" alt="../../assets/images/sunbird_logo.png"> -->
</div>
<div class="footer">
<div class="px2 clearfix footer">
<ng-container *ngFor="let btn of dialogDetails?.buttons">
    <div [ngClass]="btn.positionClass">
        <button (click)="closeDialog(true)" class="btn-full"
        >Ok</button>
    </div>
</ng-container>
</div>
