<div class="main-container">
    <div class="secondary-container">
        <h2 class="title-header">Candidate portal</h2>
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <ng-container *ngIf="!isDataLoading">
            <app-shared-exam-cycle-select [examCycleFormControl]="examCycleFormControl" [examCycleList]="examCycleList"
                (selectedExamcycleId)="getResultAndHallticketDetails($event)">
            </app-shared-exam-cycle-select>
            <ng-container *ngIf="cardList && cardList.length > 0; else dataNotfound">
                <div class="cards-boxes">
                    <mat-card class="card" *ngFor="let item of cardList">
                        <mat-card-content class="content-container">
                            <span class="title-section">{{item.title}}</span>
                            <span class="desc-section">{{item.lable}} : {{item.date || "NA"}}</span>
                            <div class="status-card">
                                <span class="status">status: {{item.status}}</span>
                            </div>
                        </mat-card-content>
                        <button class="view-btn" (click)="viewDetails(item.title)">View</button>
                    </mat-card>
                </div>
            </ng-container>
            <ng-template #dataNotfound>
                <app-shared-no-result-card></app-shared-no-result-card>
            </ng-template>
        </ng-container>
    </div>
</div>