<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="secondary-container">
    <div class="header-container">
        <div class="head-details">
            <h2 class="m0">{{examName | uppercase}}</h2>

        </div>
    </div>
    <div class="container clearfix mt3">
        <div class="sm-col md-col-7 lg-col-6">
            <mat-form-field style="visibility: hidden;" appearance="outline" class="search-field">
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <input matInput [(ngModel)]="searcKey" placeholder="Search">
            </mat-form-field>
        </div>
        <div class="sm-col md-col-5 lg-col-6">
            <div class="w-full">
                <button class="registerBtn right px2 mr4" (click)="openRegistrationPopup()">Register</button>
            </div>
        </div>
    </div>


    <app-shared-ques-paper [examCycleList]="examCycleList" 
    [examCycleControl]="examCycleControl">
    </app-shared-ques-paper>

    
    <app-shared-skeleton-loading [isLoading]="isDataLoading">
    </app-shared-skeleton-loading>
    <app-shared-table *ngIf="!isDataLoading" 
    [tableColumns]="viewStudentsTableColumns" 
    [tableData]="enrollmentData"
    [isPageable]="true" 
    (checkBoxAction)="onSelectedRows($event)">
    </app-shared-table>

    <div class="flex" style="justify-content: space-between;">
        <div class="flex selector">
            <app-shared-exam-cycle-select [examCycleFormControl]="examCycleFormControl" [examCycleList]="examCycleList"
                (selectedExamcycleId)="getSelectedExamcycleId($event)">
            </app-shared-exam-cycle-select>
            <div class="ml3">
                <div class="mb1">
                    <span class="exam-lable"> Course </span>
                </div>
                <mat-form-field appearance="outline">
                    <mat-select [formControl]="courseFormControl" (selectionChange)="getSelectedCourse($event)">
                        <mat-option *ngFor="let course of courses" [value]="course.id">
                            {{ course.courseCode }} - {{course.courseName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ml3">
                <div class="mb1">
                    <span class="exam-lable">Academic Year</span>
                </div>
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="getSelectedAcademicYear($event)" [(ngModel)]="selectedAcademicYear">
                        <mat-option *ngFor="let year of years" [value]="year" >
                            {{ year }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

    </div>
    <div>
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <app-shared-table *ngIf="!isDataLoading" [tableColumns]="viewStudentsTableColumns" [tableData]="enrollmentData"
            [isPageable]="true" (checkBoxAction)="onSelectedRows($event)">
        </app-shared-table>
    </div>


</div>