<div>
    <h2 class="hallticket-details-header">{{studentDetails?.examCyclename || "-" }}</h2>
    <div>
        <div class="details-row ">
            <div class="w-full">
                <div class="lable">
                    <span>First name</span>
                </div>
                <div class="value" [ngClass]="{'textBlue': studentDetails?.firstNameFlag}">
                    <span>{{studentDetails?.firstName|| "-" }}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Last name</span>
                </div>
                <div class="value value-right" [ngClass]="{'textBlue': studentDetails?.lastNameFlag}">
                    <span>{{studentDetails?.lastName|| "-" }}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Roll Number</span>
                </div>
                <div class="value">
                    <span>{{studentDetails?.studentEnrollmentNumber || "-" }}  </span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>DOB</span>
                </div>
                <div class="value value-right" [ngClass]="{'textBlue': studentDetails?.dobFlag}">
                    <span>{{studentDetails?.dob|| "-" }}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Course name</span>
                </div>
                <div class="value">
                    <span>{{studentDetails?.courseName|| "-" }}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Course Year</span>
                </div>
                <div class="value value-right" [ngClass]="{'textBlue': studentDetails?.courseYearFlag}">
                    <span>{{studentDetails?.courseYear|| "-" }}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div>
                <div class="lable">
                    <span>Exam Center</span>
                </div>
                <div class="value value-right" >
                    <span>{{studentDetails?.examCenterName|| "-" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
