<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="full-container">
    <div class="certificate-container">
        <div class="certificate-header">
            <h2>Register Student to exam cycle and exams</h2>
        </div>
   
 <!--        <span>
            Exam cycle

        </span> -->
        
        <div style="display: flex; flex-direction: row;">
          <!--   <span>
              <app-shared-course-select [courseFormControl]="courseFormControl" [courseList]="courses"
              (selectedCourse)="onCourseChange($event)">
            </app-shared-course-select>
            </span> -->
          
            <span class="ml2">
              <app-shared-exam-cycle-select [examCycleFormControl]="examCycleControl" [examCycleList]="examCycleList"
                    (selectedExamcycleId)="examCycleSelected($event)">
                  </app-shared-exam-cycle-select>
            </span>
        
        
          </div>

        <app-shared-ques-paper 
            [questionPapersList]="questionPapersList" 
            (addNewStdnts)="regNewStdnts($event)"
            (viewRegdStdnts)="viewRegdStdnts($event)"
            [showCardDetails]=false>
        </app-shared-ques-paper>


    </div>

</div>